# Swarmy Bot Jetson Python Dependencies
# Install via: pip3 install -r requirements.txt

# Hardware & Sensors
smbus2==0.6.1
pyserial==3.5
RPi.GPIO==0.7.1
Jetson.GPIO==2.1.6

# OLED Display
luma.core==2.3.1
luma.oled==3.8.1
Pillow==8.4.0

# Image / Math Processing (Use system packages instead of pip)
# sudo apt-get install python3-numpy python3-opencv
