<launch>
  <arg name="map_file" default="$(find swarmy_navigation)/maps/lab_505.yaml"/>

  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)" output="screen"/>

  <rosparam file="$(find swarmy_navigation)/config/amcl_params.yaml" command="load"/>
  <node pkg="amcl" type="amcl" name="amcl" output="screen"/>

  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <rosparam file="$(find swarmy_navigation)/config/move_base_params.yaml" command="load"/>
    <rosparam file="$(find swarmy_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find swarmy_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find swarmy_navigation)/config/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find swarmy_navigation)/config/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find swarmy_navigation)/config/base_local_planner_params.yaml" command="load"/>
    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
  </node>
</launch>
