<!--
  ============================================================================
  Project Handlers: Naman Sain & Souvik Mallik
  
  Maintainers:
  - Naman Sain   : ROS FULL STACK and Development with Software to Hardware Communication
  - Souvik Mallik: Embedded Maintainer
  ============================================================================
-->

<launch>
  <node pkg="swarmy_display" type="emotion_state_node.py" name="emotion_state_node" output="screen">
    <param name="timeout" value="1.5"/>
    <param name="move_cmd_threshold" value="0.02"/>
    <param name="move_odom_threshold" value="0.01"/>
    <param name="move_joint_threshold" value="0.001"/>
  </node>
  
  <!-- The OLED rendering is now handled persistently by a systemd background service to ensure it always runs. -->
  <!-- <node pkg="swarmy_display" type="swarmy_oled_emotions.py" name="swarmy_oled_emotions" output="screen" /> -->
</launch>
