<?xml version="1.0"?>
<launch>
  <param name="robot_description"
         command="$(find xacro)/xacro $(find swarmy_description)/urdf/swarmy_robot.urdf"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher"
        type="robot_state_publisher" output="screen">
    <param name="publish_frequency" value="50.0"/>
  </node>
  <node name="joint_state_publisher" pkg="joint_state_publisher"
        type="joint_state_publisher" output="screen"/>
</launch>
